input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
}

input:focus,
select:focus
{
	outline:0;
}


#calculator-wrap {
	max-width: 400px;
	margin: 0 auto;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;
	box-shadow: 2px 2px 2px 2px #333;
}

#calculator {
	width: 100%;
	margin: 0 auto;
	padding: 5%;
	border: 1px solid #000;
	border-radius: 10px;
	background: url(../images/school.png);
	box-shadow: 0px 0px 15px 2px rgba(255,255,255,.4) inset;
    border: 1px #ccc inset;       
    background: #20B2AA;    
}

#output {
	width: 100%;
	text-align: right;
	border-radius: 0px;
	border: 1px solid #333;
	padding: 5%;
	font-size: 2em;
	color: #64FF4E;
	background: #30323E;
	box-shadow: 0px 0px 18px 3px #b3b3b3 inset;
	background: #fff;
	color: #333;
	font-family: 'Orbitron', sans-serif;
}


.button {
	font-family: 'Roboto';
	width: 23.6%;
	float: left;
	margin: 10px 0 0 1.86%;
	border-radius: 0px;
	font-size: 1.6em;
	box-shadow: 2px 4px 0 rgba(0,0,0,0.4);
	transition: all .2s linear;
	font-weight: bold;
	border: none;
	color: #000;
	text-align: center;
}

.button:nth-of-type(4n+1) {
	margin-left: 0;
}

.equals {
	width: 49%;
}